<div class="demo-toolbar">

  <!-- 默认的Toolbar -->
  <p>
    <md-toolbar>
      <md-icon class="demo-toolbar-icon">menu</md-icon>

      <span>默认的Toolbar</span>

      <span class="demo-fill-remaining"></span>

      <md-icon>code</md-icon>

    </md-toolbar>
  </p>

  <!-- Primary(主要) Toolbar -->
  <p>
    <md-toolbar color="primary">
      <md-icon class="demo-toolbar-icon">menu</md-icon>

      <span>Primary(主要) Toolbar</span>

      <span class="demo-fill-remaining"></span>

      <md-icon>code</md-icon>

    </md-toolbar>
  </p>

  <!-- Accent(强调) Toolbar -->
  <p>
    <md-toolbar color="accent">
      <md-icon class="demo-toolbar-icon">menu</md-icon>

      <span>Accent(强调) Toolbar</span>

      <span class="demo-fill-remaining"></span>

      <md-icon>code</md-icon>

    </md-toolbar>
  </p>

  <p>
    <md-toolbar color="warn">
      <md-icon class="demo-toolbar-icon">menu</md-icon>

      <span>Warn(次要) Toolbar</span>

      <span class="demo-fill-remaining"></span>

      <md-icon>code</md-icon>

    </md-toolbar>
  </p>

  <p>
    <md-toolbar color="accent">
      <span>Custom Toolbar</span>

      <md-toolbar-row>
        <span>Second Line</span>
      </md-toolbar-row>

    </md-toolbar>
  </p>

  <p>
    <md-toolbar color="primary">

      <span>自定义Toolbar</span>

      <md-toolbar-row>

        <span>第二行</span>

        <span class="demo-fill-remaining"></span>

        <md-icon class="demo-toolbar-icon">verified_user</md-icon>

      </md-toolbar-row>

      <md-toolbar-row>

        <span>第三行</span>

        <span class="demo-fill-remaining"></span>

        <md-icon class="demo-toolbar-icon">favorite</md-icon>
        <md-icon class="demo-toolbar-icon">delete</md-icon>

      </md-toolbar-row>

    </md-toolbar>
  </p>

</div>