<form class="example-form">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="你喜欢的食物" value="苹果">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="评论"></textarea>
  </mat-form-field>

  <!-- date -->
  <mat-form-field class="example-full-width">
    <input matInput type="date" placeholder="日期">
  </mat-form-field>

  <!--month-->
  <mat-form-field class="example-full-width">
    <input matInput type="month" placeholder="月份">
  </mat-form-field>

  <!--week-->
  <mat-form-field class="example-full-width">
    <input matInput type="week" placeholder="星期">
  </mat-form-field>

  <!--time-->
  <mat-form-field class="example-full-width">
    <input matInput type="time" placeholder="时间">
  </mat-form-field>

  <!--datetime-local-->
  <mat-form-field class="example-full-width">
    <input matInput type="datetime-local" placeholder="日期时间">
  </mat-form-field>

  <!--email-->
  <mat-form-field class="example-full-width">
    <input matInput type="email" placeholder="邮件">
  </mat-form-field>

  <!--number-->
  <mat-form-field class="example-full-width">
    <input matInput type="number" placeholder="数字">
  </mat-form-field>

  <!--password-->
  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="密码">
  </mat-form-field>

  <!--search-->
  <mat-form-field class="example-full-width">
    <input matInput type="search" placeholder="搜索">
  </mat-form-field>

  <!--tel-->
  <mat-form-field class="example-full-width">
    <input matInput type="tel" placeholder="电话">
  </mat-form-field>

  <!--text-->
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="文本">
  </mat-form-field>

  <!--url-->
  <mat-form-field class="example-full-width">
    <input matInput type="url" placeholder="链接">
  </mat-form-field>

</form>
