<mat-card>
  <mat-card-content style="padding: 2%">
    <form>
      <mat-checkbox [(ngModel)]="isChecked"
                    name="cb"
                    value="basic_checkbox"
                    [color]="checkboxColor()"
                    (change)="isIndeterminate = false"
                    [indeterminate]="isIndeterminate"
                    [disabled]="isDisabled"
                    [labelPosition]="labelPosition">
        Do you want to <em>foobar</em> the <em>bazquux</em>?
      </mat-checkbox>
      <p>
        <strong>{{printResult()}}</strong>
      </p>
    </form>

    <div>
      <input id="indeterminate-toggle" type="checkbox" [(ngModel)]="isIndeterminate" [disabled]="isDisabled">
      <label for="indeterminate-toggle">Toggle Indeterminate</label>

      <input id="disabled-toggle" type="checkbox" [(ngModel)]="isDisabled">
      <label for="disabled-toggle">Toggle Disabled</label>

      <input id="color-toggle" type="checkbox" [(ngModel)]="useAlternativeColor">
      <label for="color-toggle">Toggle Color</label>
    </div>

    <div>
      <p>Label position:</p>
      <div>
        <input #after id="align-after"
               type="radio"
               value="after"
               name="labelPosition"
               (click)="labelPosition = after.value"
               checked>
        <label for="align-after">After</label>
      </div>
      <div>
        <input #before id="align-before"
               type="radio"
               value="before"
               name="labelPosition"
               (click)="labelPosition = before.value">
        <label for="align-before">Before</label>
      </div>
    </div>

    <h1>Pseudo checkboxes 伪复选框</h1>
    <mat-pseudo-checkbox></mat-pseudo-checkbox>
    <mat-pseudo-checkbox [disabled]="true"></mat-pseudo-checkbox>

    <mat-pseudo-checkbox state="checked"></mat-pseudo-checkbox>
    <mat-pseudo-checkbox state="checked" [disabled]="true"></mat-pseudo-checkbox>

    <mat-pseudo-checkbox state="indeterminate"></mat-pseudo-checkbox>
    <mat-pseudo-checkbox state="indeterminate" [disabled]="true"></mat-pseudo-checkbox>

  </mat-card-content>
</mat-card>
