<mat-toolbar>
  <mat-toolbar-row>
    <nav>
      <button mat-raised-button routerLink="/basicCheckboxes" routerLinkActive="active">BasicCheckboxes</button>
      <button mat-raised-button routerLink="/example" routerLinkActive="active">Example</button>
      <button mat-raised-button routerLink="/baseCheckbox" routerLinkActive="active">BaseCheckbox</button>
      <button mat-raised-button routerLink="/nestedChecklist" routerLinkActive="active">NestedChecklist</button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
