<mat-toolbar>
  <mat-toolbar-row>
    <nav>
      <button mat-raised-button routerLink="/basicCards" routerLinkActive="active">BasicCards</button>
      <button mat-raised-button routerLink="/example" routerLinkActive="active">Example</button>
      <button mat-raised-button routerLink="/titleGroup" routerLinkActive="active">TitleGroup</button>
      <button mat-raised-button routerLink="/footer" routerLinkActive="active">Footer</button>
      <button mat-raised-button routerLink="/divider" routerLinkActive="active">Divider</button>
      <button mat-raised-button routerLink="/cardImage" routerLinkActive="active">CardImage</button>
    </nav>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav>
      <button mat-raised-button routerLink="/cardAvatar" routerLinkActive="active">CardAvatar</button>
      <button mat-raised-button routerLink="/custom" routerLinkActive="active">Custom</button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
