<mat-toolbar>
  <mat-toolbar-row>
    <nav>
      <button mat-raised-button routerLink="/baseInputs" routerLinkActive="active">Basic Inputs</button>
      <button mat-raised-button routerLink="/errorStateMatcher" routerLinkActive="active">ErrorStateMatcher</button>
      <button mat-raised-button routerLink="/autoResizingTextarea" routerLinkActive="active">AutoResizingTextarea
      </button>
      <button mat-raised-button routerLink="/clearButtonInput" routerLinkActive="active">ClearButtonInput</button>
      <button mat-raised-button routerLink="/formInputs" routerLinkActive="active">FormInputs</button>
      <button mat-raised-button routerLink="/hintInput" routerLinkActive="active">HintInput</button>
    </nav>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav>
      <button mat-raised-button routerLink="/prefixesSuffixes" routerLinkActive="active">PrefixesSuffixes</button>
      <button mat-raised-button routerLink="/basic" routerLinkActive="active">Basic</button>
      <button mat-raised-button routerLink="/errorMessages" routerLinkActive="active">ErrorMessages</button>
      <button mat-raised-button routerLink="/prefixSuffix" routerLinkActive="active">PrefixSuffix</button>
      <button mat-raised-button routerLink="/dividerColors" routerLinkActive="active">DividerColors</button>
      <button mat-raised-button routerLink="/hints" routerLinkActive="active">Hints</button>
    </nav>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav>
      <button mat-raised-button routerLink="/forms" routerLinkActive="active">Forms</button>
      <button mat-raised-button routerLink="/numberInputs" routerLinkActive="active">NumberInputs</button>
      <button mat-raised-button routerLink="/formsInputs" routerLinkActive="active">FormsInputs</button>
      <button mat-raised-button routerLink="/floatLabel" routerLinkActive="active">FloatLabel</button>
      <button mat-raised-button routerLink="/floatingLabels" routerLinkActive="active">FloatingLabels</button>
      <button mat-raised-button routerLink="/autoSizeTextarea" routerLinkActive="active">AutoSizeTextarea</button>
    </nav>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav>
      <button mat-raised-button routerLink="/appearance" routerLinkActive="active">Appearance</button>
      <button mat-raised-button routerLink="/autoFill" routerLinkActive="active">AutoFill</button>
      <button mat-raised-button routerLink="/readOnly" routerLinkActive="active">ReadOnly</button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
