<mat-card>

  <mat-toolbar color="primary">Floating Labels</mat-toolbar>

  <mat-card-content style="padding: 2%">

    <mat-form-field>
      <mat-select [formControl]="placeholderTestControl">
        <mat-option value="Value">Value</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [formControl]="placeholderTestControl" placeholder="Only placeholder">
        <mat-option value="Value">Value</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Only label</mat-label>
      <mat-select [formControl]="placeholderTestControl">
        <mat-option value="Value">Value</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Always float</mat-label>
      <mat-select [formControl]="placeholderTestControl" placeholder="This is the placeholder">
        <mat-option value="Value">Value</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="never">
      <mat-label>Never float</mat-label>
      <mat-select [formControl]="placeholderTestControl" placeholder="This is the placeholder">
        <mat-option value="Value">Value</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Label and placeholder element</mat-label>
      <mat-placeholder>The placeholder element</mat-placeholder>
      <mat-select [formControl]="placeholderTestControl">
        <mat-option value="Value">Value</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="togglePlaceholderTestValue()">Toggle Value</button>

    <button mat-raised-button color="primary" (click)="togglePlaceholderTestTouched()">Toggle touched</button>

  </mat-card-content>

</mat-card>
