<mat-card>

  <mat-toolbar color="primary">Float Label</mat-toolbar>

  <mat-card-content style="padding: 2%">

    <mat-form-field>
      <input matInput [formControl]="placeholderTestControl">
    </mat-form-field>

    <mat-form-field>
      <input matInput [formControl]="placeholderTestControl" placeholder="Only placeholder">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Only label</mat-label>
      <input matInput [formControl]="placeholderTestControl">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Label and placeholder</mat-label>
      <input matInput [formControl]="placeholderTestControl" placeholder="This is the placeholder">
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Always float</mat-label>
      <input matInput [formControl]="placeholderTestControl" placeholder="This is the placeholder">
    </mat-form-field>

    <mat-form-field floatLabel="never">
      <mat-label>Never float</mat-label>
      <input matInput [formControl]="placeholderTestControl" placeholder="This is the placeholder">
    </mat-form-field>

    <mat-form-field>
      <mat-placeholder>This is the mat-placeholder</mat-placeholder>
      <input matInput [formControl]="placeholderTestControl">
    </mat-form-field>

    <mat-form-field>
      <mat-placeholder>This is the mat-placeholder</mat-placeholder>
      <input matInput [formControl]="placeholderTestControl" placeholder="This is the placeholder">
    </mat-form-field>

    <mat-form-field>
      <!-- 当mat-label与mat-placeholder同时存在时，float label 显示mat-label -->
      <mat-label>Label and placeholder element</mat-label>
      <mat-placeholder>The placeholder element</mat-placeholder>
      <input matInput [formControl]="placeholderTestControl">
    </mat-form-field>

    <mat-form-field>
      <!-- 当mat-label与mat-placeholder与placeholder同时存在时，float label 显示mat-label和placeholder -->
      <mat-label>Label and placeholder element</mat-label>
      <mat-placeholder>The placeholder element</mat-placeholder>
      <input matInput [formControl]="placeholderTestControl" placeholder="This is the placeholder">
    </mat-form-field>

  </mat-card-content>

</mat-card>
