<md-card>

  <md-card-content>

    <h2 class="example-h2">Slider配置</h2>

    <div class="example-section">

      <label class="example-margin">Color：</label>

      <md-radio-group [(ngModel)]="color">

        <md-radio-button class="example-margin" value="primary">Primary</md-radio-button>
        <md-radio-button class="example-margin" value="accent">Accent</md-radio-button>
        <md-radio-button class="example-margin" value="warn">Warn</md-radio-button>

      </md-radio-group>

    </div>

    <div class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
    </div>

    <div class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</md-checkbox>
    </div>

  </md-card-content>

</md-card>

<md-card class="result">

  <md-card-content>

    <h2 class="example-h2">Result</h2>

    <div class="example-section">

      <md-slide-toggle class="example-margin"
                       [color]="color"
                       [checked]="checked"
                       [disabled]="disabled">
        Slide me!
      </md-slide-toggle>
      
    </div>

  </md-card-content>

</md-card>
