<div class="demo-icon">

  <!-- 第一个Demo -->
  <p>
    按名称注册MdIconProvider：
    <md-icon svgIcon="thumb-up" class="green"></md-icon>
    <md-icon svgIcon="thumb-up"></md-icon>
    <md-icon svgIcon="all"></md-icon>
  </p>

  <p>
    从图标集：
    <md-icon svgIcon="core:alarm"></md-icon>
    <md-icon svgIcon="core:accessibility"></md-icon>
    <md-icon svgIcon="core:check"></md-icon>
  </p>

  <p>
    材质图标字体：
    <md-icon>home</md-icon>
    <md-icon>android</md-icon>
    <md-icon>alarm</md-icon>
  </p>

  <p>
    使用主题：
    <md-icon color="primary">home</md-icon>
    <md-icon color="accent">home</md-icon>
    <md-icon color="warn">home</md-icon>
  </p>

  <p>
    自定义图标字体和CSS：
    <md-icon fontSet="fontawesome" fontIcon="fa-birthday-cake"></md-icon>
  </p>

</div>
