<mat-toolbar>
  <mat-toolbar-row>
    <nav>
      <button mat-raised-button routerLink="/basicToolbar" routerLinkActive="active">BasicToolbar</button>
      <button mat-raised-button routerLink="/singleRow" routerLinkActive="active">SingleRow</button>
      <button mat-raised-button routerLink="/multipleRows" routerLinkActive="active">MultipleRows</button>
      <button mat-raised-button routerLink="/action" routerLinkActive="active">ActionToolbar</button>
      <button mat-raised-button routerLink="/multiRow" routerLinkActive="active">MultiRow</button>
      <button mat-raised-button routerLink="/iconButton" routerLinkActive="active">IconButton</button>
    </nav>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav>
      <button mat-raised-button routerLink="/primaryColor" routerLinkActive="active">PrimaryColor</button>
      <button mat-raised-button routerLink="/accentColor" routerLinkActive="active">AccentColor</button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
