<mat-card>

  <mat-toolbar color="primary">Appearance</mat-toolbar>

  <mat-card-content style="padding: 2%">

    <mat-form-field appearance="legacy">
      <mat-label>Legacy appearance</mat-label>
      <input matInput [(ngModel)]="legacyAppearance" required>
      <mat-error>This field is required</mat-error>
      <mat-hint>Please type something here</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Standard Appearance</mat-label>
      <input matInput [(ngModel)]="standardAppearance" required>
      <mat-error>This field is required</mat-error>
      <mat-hint>Please type something here</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fill Appearance</mat-label>
      <input matInput [(ngModel)]="fillAppearance" required>
      <mat-error>This field is required</mat-error>
      <mat-hint>Please type something here</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Outline Appearance</mat-label>
      <input matInput [(ngModel)]="outlineAppearance" required>
      <mat-error>This field is required</mat-error>
      <mat-hint>Please type something here</mat-hint>
    </mat-form-field>

    <table style="width: 100%" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="legacy">
            <mat-label>Legacy appearance</mat-label>
            <input matInput [(ngModel)]="legacyAppearance" required>
            <mat-error>This field is required</mat-error>
            <mat-hint>Please type something here</mat-hint>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="standard">
            <mat-label>Standard Appearance</mat-label>
            <input matInput [(ngModel)]="standardAppearance" required>
            <mat-error>This field is required</mat-error>
            <mat-hint>Please type something here</mat-hint>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Fill Appearance</mat-label>
            <input matInput [(ngModel)]="fillAppearance" required>
            <mat-error>This field is required</mat-error>
            <mat-hint>Please type something here</mat-hint>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Outline Appearance</mat-label>
            <input matInput [(ngModel)]="outlineAppearance" required>
            <mat-error>This field is required</mat-error>
            <mat-hint>Please type something here</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>

  </mat-card-content>

</mat-card>
